<div class="container">
  <h3>PLEASE LOGIN</h3>
  <form>
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <button mat-raised-button (click)="login()" color="primary">Login</button>
</div>
