<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="mat-title">
    Welcome to {{ title }}!
  </h1>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">MAIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">ADMIN</a>
      </li>
      <li class="nav-item" *ngIf="!retriever.user">
        <a class="nav-link" (click)="openDialog()">LOGIN</a>
      </li>
    </ul>
  </nav>
  <img width="600" alt="Hotel Management System Logo"
       src="/assets/images/hotelbook.jpg">
</div>
<router-outlet></router-outlet>

